
<div class="container col-md-8 offset-2">

    <form action="" method="POST" role="form" #register="ngForm" (ngSubmit)="addDetails(register.value)" >
            <legend class="text-center">Register here</legend>
        
            <div class="form-group">
                
                <input type="text" class="form-control" name="id" #id="ngModel" ngModel placeholder="enter id" required>
            </div>
           <div *ngIf="id.touched && id.invalid">
                    required
           </div>


            <div class="form-group">
                    
                    <input type="text" class="form-control" name="name" #name="ngModel" ngModel required placeholder="enter name">
                </div>
        
                <div class="form-group">
                       
                        <input type="email" class="form-control" name="email" #email="ngModel" ngModel required placeholder="enter email">
                    </div>
                
        
                <div class="form-group">
                       
                        <input type="date" class="form-control" name="date" #date="ngModel" required ngModel placeholder="enter date">
                    </div>
                
                    <div class="form-group">
                            
                            <input type="password" class="form-control" name="password" #password="ngModel" required ngModel  placeholder="enter password">
                        </div>
                
            
                        <div class="text-center">

                        
            <button type="submit" class="btn btn-primary" >add employee</button>
                        </div>
        </form>
        
</div>





<table class="table table-hover" >
    <thead>
        <tr>
            
            <th>id</th>
            <th>Name</th>
            <th>Password</th>
            <th>email</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor  = "let employee of EmployeeDetail;index as i">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.password}}</td>
            <td>{{employee.email}}</td>
            <td><button class="btn btn-danger" (click)="delete(employee.id)">Delete</button></td>
            <td><button class="btn btn-success" data-toggle="modal" data-target="#exampleModal" (click)="update(employee.id)">Update</button></td>
        </tr>
    </tbody>
</table>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        
  
              <form action="" method="POST" role="form" #update="ngForm" (ngSubmit)="updateDetails(update.value)">
                      <legend>Form title</legend>
                  
                      <div class="form-group">
                          <label for="">id</label>
                          <input type="text" class="form-control" name="id" #id="ngModel" ngModel placeholder="Input field" required>
                      </div>
                     <div *ngIf="id.touched && id.invalid">
                              required
                     </div>
      
      
                      <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" name="name" #name="ngModel" ngModel required placeholder="Input field">
                          </div>
                  
                          <div class="form-group">
                                  <label for="email">Email</label>
                                  <input type="email" class="form-control" name="email" #email="ngModel" ngModel required placeholder="Input field">
                              </div>
                          
                  
                          <div class="form-group">
                                  <label for="">date</label>
                                  <input type="date" class="form-control" name="date" #date="ngModel" required ngModel placeholder="Input field">
                              </div>
                          
                              <div class="form-group">
                                      
                                      <input type="password" class="form-control" name="password" #password="ngModel" required ngModel  placeholder="Input field">
                                  </div>
                          
                      
                  
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  
  
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>