<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="obj"
		class="com.ust.ustglobalspringcore.beans.HelloWorld" >
		<property name="msg" value="hello world" />


		<property name="animal" ref="human" />
		
		<property name="map">
			<map>
				<entry key="abc" value="123"></entry>
				<entry key="xyz" value="456"></entry>
			</map>
		</property>
	</bean>
	
	
	<bean id="postProcessor" class="com.ust.ustglobalspringcore.beans.PostProcessor"/>
	<bean id="factoryPostProcessor" class="com.ust.ustglobalspringcore.beans.FactoryPostProcessor" />
	
	


	<bean id="dog" class="com.ust.ustglobalspringcore.beans.Dog"  init-method="init" destroy-method="destroy"/>

	<bean id="human" class="com.ust.ustglobalspringcore.beans.Human" />


	<bean id="pet" class="com.ust.ustglobalspringcore.beans.Pet" autowire="constructor">

		<constructor-arg name="name" value="judo"/>
		<constructor-arg name="animal" ref="dog"/>

	</bean>
	
	
	
	
	
</beans>
