
<div class="container col-md-8 offset-2">

    <form action="" method="POST" role="form" #register="ngForm" (ngSubmit)="addDetails(register.value)" >
            <legend class="text-center">addtask</legend>
        
            <div class="form-group">
                
                <input type="text" class="form-control" name="id" #id="ngModel" ngModel placeholder="enter id" required>
            </div>
           <div *ngIf="id.touched && id.invalid">
                    required
           </div>




            <div class="form-group">
                    
                    <input type="text" class="form-control" name="task" #name="ngModel" ngModel required placeholder="enter task here">
                </div>
        
                 
                
                
            
                        <div class="text-center">

                        
            <button type="submit" class="btn btn-primary" >add task</button>
                        </div>
        </form>
        
</div>



<table class="table table-hover" >
    <thead>
        <tr>
            
            <th>id</th>
            <th>task</th>
            <th>startingdate</th>
            <th>endingdate</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor  = "let t of taskDetail;index as i">
            <td>{{t.taskid}}</td>
            <td>{{t.task}}</td>
            <td>{{t.taskstartdate}}</td>
            <td>{{t.taskenddate}}</td>
            <td><button class="btn btn-danger" (click)="delete(t.taskid)">Delete</button></td>
            <td><button class="btn btn-success" data-toggle="modal" data-target="#exampleModal" (click)="update(t.taskid)">Update</button></td>
        </tr>
    </tbody>
</table>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        
  
              <form action="" method="POST" role="form" #update="ngForm" (ngSubmit)="updateDetails(update.value)">
                      <legend>updated form</legend>
                  
                      <div class="form-group">
                         
                          <input type="text" class="form-control" name="taskid" #id="ngModel" ngModel placeholder="enter taskid to update" required>
                      </div>
                     
      
                      <div class="form-group">
                    
                        <input type="text" class="form-control" name="task" #name="ngModel" ngModel required placeholder="enter task here">
                    </div>

                    
                    <div class="form-group">
                    
                        <input type="date" class="form-control" name="taskenddate" #name="ngModel" ngModel required placeholder="enter end date here">
                    </div>
            
      
                  
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  
  
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>