<nav class="navbar navbar-expand-sm navbar-light bg-info">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="observables">Observables </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" routerLink="login">login </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="register">register</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="news">news </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="movie">movies </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="taskmanager">Taskmanager </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="getall">getall </a>
            </li>



        </ul>
        <form class="form-inline my-2 my-lg-0">

        </form>
    </div>
</nav>