<div class="container">
    <div class="col-md-4 offset-md-4 card card-body mt-5">
        
        <form action="#" method="POST" #LoginForm='ngForm' (ngSubmit)=printform(LoginForm) >
            <legend>Login Form</legend>
        
            <div class="form-group">
                <label for="username">username</label>
                <input type="email" class="form-control" name="username" placeholder="username" required #username = 'ngModel' ngModel minlength="5">
            </div>
            <div *ngIf='username.invalid && username.touched' >
                <div class="alert alert-danger" *ngIf="username.errors.required">field is mandatory</div>
                <div class="alert alert-danger" *ngIf="username.errors.minlength">minlenght is 5</div>
            </div>


            <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" class="form-control" name="password" placeholder="password" required #password = 'ngModel' ngModel minlength="5">
                </div>
                <div *ngIf='password.invalid && password.touched' >
                        <div class="alert alert-danger" *ngIf="password.errors.required">field is mandatory</div>
                        <div class="alert alert-danger" *ngIf="password
                        .errors.minlength">minlenght is 5</div>
                    </div>
        

        
            
        <div class="text-center">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-primary ml-5">Reset</button>
        </div>
        </form>
        
    </div>

</div>
