<div class="container">
    <table>
        <thead>
            <tr>
            <th>id</th>
            <th>userphoto</th>
            <th>name</th>
            <th>repourl</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users;index as i">
                <td>{{i+1}}</td>
                <td><img src="{{u.avatar_url}}" alt="" height="100" width="100">
                <td>{{u.login}}</td>
                <td>{{u.repos_url}}</td>
                <td ><button class="btn btn-primary" (click)='deletedata(i)'>delete</button></td>
            </tr>
           
        </tbody>
    </table>

</div>
